doctype html
//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
html(lang="en")
  head
    //
      Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
      Some notes:
      * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
      * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
      * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
    meta(http-equiv="Content-Security-Policy", content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-tap-highlight", content="no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    link(rel="stylesheet", type="text/css" href="css/styles.css")
    title= page_title

  body
    .splash
      a#start-button(href="#") &nbsp;

    .app
      #timeline
        .start
        .content
          -
            for(var i=0; i < images.length; i++){
              image = images[i];

              image.id= i;
            }

            // Sort our images by date - we want to display them in some kind of order
            var sorted_images = images.sort(function(a,b){
              var sortStatus = 0;

              var a_year = a.year ? a.year : 9999;
              var a_month = a.month ? a.month : 99;
              var a_day = a.day ? a.day : 99;

              var b_year = b.year ? b.year : 9999;
              var b_month = b.month ? b.month : 99;
              var b_day = b.day ? b.day : 99;

              if(a_year < 10)
                a_year = "0"+a_year

              if(a_month < 10)
                a_month = "0"+a_month

              if(a_day < 10)
                a_day = "0"+a_day

              if(b_year < 10)
                b_year = "0"+b_year

              if(b_month < 10)
                b_month = "0"+b_month

              if(b_day < 10)
                b_day = "0"+b_day

              a_val = parseInt("" + a_year + a_month + a_day);
              b_val = parseInt("" + b_year + b_month + b_day);

              if (a_val < b_val) {
                sortStatus = -1;
              } else if (a_val > b_val) {
                sortStatus = 1;
              }

              return sortStatus;
            });

            // Group our images by year so that we can create our timeline
            var years = {};

            for(image in sorted_images){
              keys = Object.keys(years);

              obj = sorted_images[image]

              year = obj.year.toString();

              if(keys.indexOf(year) >= 0){
                years[year].push(obj);
              }else{
                years[year] = [ obj ];
              }
            }

          each year in Object.keys(years)
            a.year(data-year="year"+year)
              span= year
              .count= years[year].length
          .clearfix
        .end
        .clearfix
      #background-holder.backgrounds
        .background.bexleyheath
        .background.gillingham
        .background.canterbury
        .background.bexleyheath
        .background.crayford
        .background.eltham
        .clearfix

      #overlay
        a.close-modal(href="#") &nbsp;

        .controls
          #cycle-prev &nbsp;
          #cycle-next &nbsp;

        each year in Object.keys(years)
          .image-year.cycle-slideshow(id="year"+year, data-cycle-swipe="true", data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="9000", data-cycle-prev="#cycle-prev", data-cycle-next="#cycle-next")
            each image in years[year]
              .image
                img(src="img/polaroid/#{image.id}.jpg", alt=image.title)

                p.title=image.title

                p.date
                  if image.day
                    =image.day
                    = "/"
                  if image.month
                    =image.month
                    = "/"
                  =image.year

                p.description=image.description

    script(type="text/javascript", src="cordova.js")
    script(type="text/javascript", src="js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="js/jquery.cycle2.min.js")
    script(type="text/javascript", src="js/velocity.min.js")
    script(type="text/javascript", src="js/app.js")
